.coinpage__container {
  display: flex;
}

@media (max-width: 960px) {
  .coinpage__container {
    flex-direction: column;
    align-items: center;
  }
}

.coinpage__sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  border-right: 2px solid grey;
}

@media (max-width: 960px) {
  .coinpage__sidebar {
    width: 100%;
  }
}

.coinpage__title {
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Montserrat";
}

.coinpage__subtitle {
  width: 100%;
  font-family: "Montserrat";
  padding: 25px;
  padding-bottom: 15px;
  padding-top: 0;
  text-align: justify;
}

.coinpage__data {
  align-self: start;
  padding: 25px;
  padding-top: 10px;
  width: 100%;
}

@media (max-width: 960px) {
  .coinpage__data {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .coinpage__data {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .coinpage__data {
    align-items: start;
  }
}
